@use "../../styles/res/rem";
@use "../../styles/res/mq";
@use "../../styles/res/colors";

.auth-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;


  .logo-type {
    margin-top: rem.rem-calc(140);
  }

  .logo-link {
    color: colors.$base-black;
    text-decoration: none;
  }

  .circle {
    height: 100vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &:before {
      content: "";
      width: 100vh;
      height: 100vh;
      background-color: colors.$lilac-gray;
      position: absolute;
      top: rem.rem-calc(225);
      border-radius: 50%;

      @include mq.for-desktop-up {
        width: rem.rem-calc(1200);
        height: rem.rem-calc(1200);
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding: rem.rem-calc(92) rem.rem-calc(16) 0 rem.rem-calc(16);

    @include mq.for-desktop-up {
      padding: rem.rem-calc(92) 0 0 0 ;
      max-width: 500px;
    }
  }

  .footer {
    width: 100%;
    padding: rem.rem-calc(16);

    @include mq.for-desktop-up {
      padding: rem.rem-calc(16) 0 ;
      max-width: 500px;
    }
  }
}
